<div class="ui menu top fixed">
  <a class="item" style="color: #21BA45 !important" href="/">queple</a>
    <div class="right menu">
      <div class="item">
        <a class="ui green button" href="/users/sign_in">Login</a>
      </div>
    <div class="item">
      <%= form_tag search_path, method: :get, class: 'ui transparent left icon input' do %>
        <%= text_field_tag :q, '', placeholder: '恋愛コラム検索' %>
        <i class="search icon"></i>
      <% end %>
    ​</div>
  </div>
</div>
